/* styling for animalList */

.animal-container {
    background-color: #ffc93c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.animal-container ul {
    list-style-type: none;
    padding: 0;
}
.animal-container h2 {
    margin-bottom: 20px;
}



.animal-container ul li {
    margin-bottom: 10px;
}

.animal-container ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.animal-container ul li a:hover {
    color: #666;
}
