body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../photos/Nature.png');
    background-size: cover; /* This will make the image cover the entire background */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position: center center; /* This positions the image in the center */
    background-attachment: fixed;
    color: #333;
}

/**/
h2 {
    margin-bottom: 20px;
    color: #444;
}

button {
    cursor: pointer;
    background-color: #ff6f3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
